body::before {
    display: block;
    content: '';
    height: 65px;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#branding-logo {
    width: 8em;
}
.my-light {
    color: white;
}

.active {
    color: darkblue;
}

@media only screen and (max-width: 852px) {
    #map {
        display: none;
    }
}